/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Reset */


/*start custom css*/
/*navigation section*/
body {
	-webkit-font-smoothing: antialiased;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}
  .content > img {
  	padding: 0px 15px;
  	display: block;
  	padding-top: 10px;
  	float: left;
  }

  .links {
  	list-style: none;
  	float: right;
  	display: inline-block;
  	margin-top: 25px;
  }

  .links > li {
  	float: left;
  	display: inline-block;
  	padding: 2px 12px 2px 0;
  	color: #838994;
  	font-size: 16px;
  	font-family: "Roboto", sans-serif;
  	font-weight: 300;
  	letter-spacing: 0.03em;
  	margin-left: 12px;
  }
.icon-list-header,
  .top-navigation .links .active a {
  	color: #4c5058;
    font-weight: 600;
  }
.top-navigation .links li a:hover {
  	color: #333333;
  }

  .links li a {
  	text-decoration: none;
  	color: #838994;
  	font-size: 16px;
  	font-family: "Roboto", sans-serif;
  	font-weight: 300;
  	letter-spacing: 0.03em;
  }
 
 .introduction {
 	width: 100%;
 	height:460px;
 	background-image: url(http://www.thinkful.com/courses/curricula/FEWD-001/version/4/asset/first-background.jpg);
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.meetkarmaintrobox {
	color: #fff;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	width: 962px;
	height: 73px;
	margin: 0 auto;
	padding-top: 43px;
}

.meetkarmaintrobox h1 {
	font-size: 3.2em;
	font-weight: 300;
    line-height: 2;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 4px;
	}

.meetkarmaintrobox h3 {
	font-size: 1.6em;
	font-weight: 300;
    line-height: 2;
	margin-top: -15px;
	text-align: center;
	letter-spacing: 1.2px;
	padding-bottom: 18px;
	}
.splitbox-learn {
	width: 154px;
	height: 57px;
	float: left;
	padding: 16px 25px;
	margin-left: 275px;

}
.learn-more-btn {
	font-size: 1.125em;
    color: white;
    background-color: #f15a29;
    border: none;
    text-shadow: none;
    border-radius: 4px;
    padding: 16px 25px;
    text-shadow: none;
    float: left;

}
.splitbox-play {
	width: 182px;
	height: 68px;
	float: left;
}
.play {
	float: left;
	display: inline-block;
	padding-top: 24px;
}
.splitbox-pressplay > p {
    padding-top: 30px;
    padding-left: 12px;
    float:  left;
    font-size:  1.3em;
}
 
.content {
	width: 100%;
	height: 673px;
}
 .cases {
 	width: 960px;
 	margin: 0 auto;
 }
 .cases-headline {
 	text-align: center;
	font-size: 2.6em;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	padding-top: 126px;
	padding-bottom: 65px;
 }
 

 .devices {
    width: 33.3333333%;
    display: inline-block;
    box-sizing: border-box;
    height: 4em;
    margin-right: -4px;
    border:none;
    padding-left: 60px;
    float:left;
    text-align: center;

}
h3 {
font-size: 1.4em;
font-weight: 300;
font-family: "Roboto", sans-serif;
margin-bottom: 17px;
margin-top: 40px;

}

.devices-description {
display: block;
margin-left: -12px;
font-weight: 300;
font-family: "Roboto", sans-serif;
font-size: 1.2em;
color: #4c5058;
line-height: 1.5em;
text-align: center;
width: 275px;

} 
.clear-floats {
	clear: both;
}
.footer {
	width: 100%;
	color: #838994;
	height: 600px;
	
}
.footercontentwrapper {
	width: 960px;
	height: 280px;
	
	margin: 0 auto;
	color: #838994;
	position: relative;

}
 
.footer-stuff {
	
	width: 940px;
	height: 30%;
	background: white;
	clear: both;
	margin: 0 5px auto;

	}

.col-long-footer {
	width: 960px;
	height: 85px;
	margin: 20px 0 auto;
	border-top: 1px dotted #eaebec;
	position: absolute;
	bottom: 0;
	padding-top: 16px;
}
.footer-col-left {
	width: 225px;
	height: 75px;
	float: left;
}
.footer-col-mid {
	width: 415px;
	height: 75px;
	
	float: left;

}
.footer-col-right {
	width: 295px;
	height: 75px;
	padding-top: 7px;
	float: right;

}

.list-unstyled {
	float:left;
	padding: 5px 25px 5px 35px;
}
.footer-col-right .header,
.footer-col-mid .header {
	color: #4c5058;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	padding-bottom:8px;
	font-size: 1em;
}

li.fakeform {
	margin-left: -30px;
}
.footer-col-right .header {
	margin-left: -27px;
}

.footer-col-mid a {
	text-decoration: none;
	color: #838994;
	font-family: "Roboto", sans-serif;
	font-weight:300;
}

.footer-col-mid a:hover{
	text-decoration: none;
	color: #f9461c;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.footer-col-mid li {
	padding-top:6px;
	font-size: 1em;
	font-weight: 300;
}

ul.icons {
	width: 155px;
	padding-top: 19px;
	padding-bottom: 14px;
	margin: 0 auto;
	
}

.icons >li{
	display:inline-block;
	padding:;
}

.icon-list-header {
	text-align: center;
	font-family: "roboto", sans-serif;
	font-size: 0.9em;
}

.text-center {
	text-align: center;
}

html, body {
	height: 100%;
}
.buy-now-section {
	width: 100%;
	height: 810px;
}
.buy-now-blurb {
	height: 560px;
	width: 315px;
	float: left;
	z-index: 2;
	padding-left: 120px;
	padding-top: 70px;

}

.buy-now-blurb > h3 {
	color: #f9461c;
	padding-left: 13px;
	letter-spacing: 1px;
	font-size: 1.5em;
}

p.lead {
	font-size: 1.2em;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	color: #4c5058;
	padding: 5px 10px 5px 10px;
	line-height: 1.3em;
	letter-spacing: 1px;

}
 .learn-more-btn  {
	text-decoration: none;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: .9px;
}


.buy-now-bg {
	width: 100%;
 	height: 810px;
 	margin-bottom: 45px;
 	background-image: url("https://web.archive.org/web/20140912222754/https://dy53q6sor7j4i.cloudfront.net/assets/bg-graphic-sharing-8b84b8b239b1e6df4091c31055342a11.jpg");
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: cover;
}
