/*navigation section*/
.top-navigation {
  background-color: #fff;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}
  .content > img {
  	margin-left: 14px;
  	display: block;
  }